﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="https://d3js.org/d3.v4.js"></script>

<div>
    <input type="text" name="name" id="exchangerate" value="" />
    <button class="btn btn-info" onclick="grap()">Search</button>
</div>
<svg id="myPlot" style="width:500px;height:500px"></svg>

<script>
    // Set Dimensions
    function grap() {
       var exc= $('#exchangerate').val();
        var margin = { top: 10, right: 30, bottom: 30, left: 60 },
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        var svg = d3.select("#chart")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // Create Random Points
        const numPoints = 100;
        const data = [];
        $.ajax({
            type: 'GET',
            url: "/Home/Graphics?excr=" + exc,
            cache: false,
            success: function (result) {
                for (let i = 0; i < result.length; i++) {
                    data.push([result.Date, result.Unit]);
                }
            },
            error: function (xhr, status, error) {
            }
        });
  

        // Append SVG Object to the Page
        const svg = d3.select("#myPlot")
            .append("svg")
            .append("g")
            .attr("transform", "translate(" + margin + "," + margin + ")");

        // X Axis
        const x = d3.scaleLinear()
            .domain([0, 500])
            .range([0, xMax]);

        svg.append("g")
            .attr("transform", "translate(0," + yMax + ")")
            .call(d3.axisBottom(x));

        // Y Axis
        const y = d3.scaleLinear()
            .domain([0, 500])
            .range([yMax, 0]);

        svg.append("g")
            .call(d3.axisLeft(y));

        svg.append("g")
            .datum(data).enter()
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 1.5)
            .attr("d", d3.line()
                .x(d => x(d.date))
                .y(d => y(d.value))
            )
        // Dots
        //svg.append('g')
        //    .data(data).enter()
        //    .append("line")
        //    .attr("cx", function (d) { return d[0] })
        //    .attr("cy", function (d) { return d[1] })
        //    .attr("r", 3)
        //    .style("fill", "Red");


    }
</script>
